<script>
jQuery(function(){
	jQuery('.bf-radio-triger').click(function(e){
  	  var totalPrice = Number(jQuery('.bf-total-price').text());
	  
	  var old_active = jQuery('.bf-radio-triger[data-active="true"]');
	  jQuery(old_active).attr('data-active',false).removeClass('bf-active');
	  
	  var old_price = Number(jQuery(old_active).attr('data-price'));
	  totalPrice -= old_price;
	  
	  var price = Number(jQuery(this).attr('data-price'));
	  
	  totalPrice += price;
	  
	  jQuery(this).attr('data-active',true).addClass('bf-active');
	  
	  jQuery('.bf-total-price').text(totalPrice);

	});
	jQuery('.bf-button-triger').click(function(e){
	  //e.preventDefault();
	  var btnName = jQuery(this).attr('data-name') || alert('Button havent NAME!');
	  var price = Number(jQuery(this).attr('data-price'));
	  var text = jQuery(this).attr('data-text') || undefined;
	  var isActive = jQuery(this).attr('data-active') || 'false';

  	  var totalPrice = Number(jQuery('.bf-total-price').text());
	  
	  if(isActive === 'true'){
	    jQuery(this).attr('data-active','false').removeClass('bf-active');
		totalPrice -=price;
		jQuery('.list-element-'+btnName).detach();
		//jQuery(this).find('input[type="checkbox"]').prop('checked',false);
	  }else{
	    jQuery(this).attr('data-active','true').addClass('bf-active');
		totalPrice +=price;
		!text || jQuery('.bf-list').append('<div class="list-element list-element-'+btnName+'">'+text+'</div>');
		//jQuery(this).find('input[type="checkbox"]').prop('checked',true);
	  }
	  
	  jQuery('.bf-total-price').text(totalPrice);
	  
	});
	
	jQuery('.bf-trigger-input').focus(function(e){
	  jQuery(this).blur();
	});
	var rooms = {
	  bathrooms: 1,
	  bedrooms: 1,
	};
	var rooms_price = {
	  '1':{
	    '1': 0,
	    '2': 4,
	    '3': 4,
	  },
	  '2':{
	    '1': 14,
	    '2': 34,
	    '3': 34,
	  },
	  '3':{
	    '1': 54,
	    '2': 54,
	    '3': 54,
	  }
	}
	jQuery('.bf-plus-trigger').click(function(e){
	  var input_id = jQuery(this).attr('for');
	  //var price = Number(jQuery(this).attr('data-price'));
	  var price = 0;
	  var input = jQuery('#'+input_id);
	  var input_type = input.attr('data-ftype');
	  	  
	  var minus = jQuery(this).attr('data-m');
	  var count = Number(input.val());
	  if(minus=="true"){
	    if(count!=0){
  	      price -= rooms_price[rooms.bedrooms][rooms.bathrooms];
		  if(input_type == 'bathrooms'){
	        rooms.bathrooms--;
		  }else{
		    rooms.bedrooms--;
		  }
		  price += rooms_price[rooms.bedrooms][rooms.bathrooms];
		  count--;
		}else{
		  return;
		}
	  }else{
	    if(count==3){
		   alert('You can chose not more than 3 items');
		  return;
		}else{
		  
  	      price -= rooms_price[rooms.bedrooms][rooms.bathrooms];
		  if(input_type == 'bathrooms'){
	        rooms.bathrooms++;
		  }else{
		    rooms.bedrooms++;
		  }
		  price += rooms_price[rooms.bedrooms][rooms.bathrooms];
	      count++;
		}
	  }
	  input.val(count);
 	  
	  
	  var totalPrice = Number(jQuery('.bf-total-price').text());
	  totalPrice+=price;	  
	  jQuery('.bf-total-price').text(totalPrice);

	});
	
	jQuery( ".bf-date" ).datepicker();
	
	jQuery('.bf-sync').on('change',function(){
	  jQuery(".bf-sync").prop('selectedIndex', this.selectedIndex);  
	});
	
	var pold = jQuery('.bf-scroll').offset().top;
	jQuery(window).scroll(function(){
	  if(jQuery(window).width() > 976){
	    var s = jQuery(window).scrollTop();
	    var pos = jQuery('.bf-scroll').offset().top;
	    if(s-10 > pold){
	      jQuery('.bf-scroll').css('margin-top',s-pold-10);
		}else{
		  jQuery('.bf-scroll').css('margin-top','');
		}
	  }
	});
	
	
	/* Stripe integration */
	        Stripe.setPublishableKey('pk_test_0WovbByEDQLTbMEGAZiimEEt');
            jQuery(document).ready(function() {
                function addInputNames() {
                    // Not ideal, but jQuery's validate plugin requires fields to have names
                    // so we add them at the last possible minute, in case any javascript 
                    // exceptions have caused other parts of the script to fail.
                    jQuery(".card-number").attr("name", "card-number")
                    jQuery(".card-cvc").attr("name", "card-cvc")
                    jQuery(".card-expiry-year").attr("name", "card-expiry-year")
                }

                function removeInputNames() {
                    jQuery(".card-number").removeAttr("name")
                    jQuery(".card-cvc").removeAttr("name")
                    jQuery(".card-expiry-year").removeAttr("name")
                }

                function submit(form) {
                    // remove the input field names for security
                    // we do this *before* anything else which might throw an exception
                    removeInputNames(); // THIS IS IMPORTANT!

                    // given a valid form, submit the payment details to stripe
                    jQuery(form['submit-button']).attr("disabled", "disabled")

                    Stripe.createToken({
                        number: jQuery('.card-number').val(),
                        cvc: jQuery('.card-cvc').val(),
                        exp_month: jQuery('.card-expiry-month').val(), 
                        exp_year: jQuery('.card-expiry-year').val()
                    }, function(status, response) {
                        if (response.error) {
                            // re-enable the submit button
                            jQuery(form['submit-button']).removeAttr("disabled")
        
                            // show the error
                            jQuery(".payment-errors").html(response.error.message);

                            // we add these names back in so we can revalidate properly
                            addInputNames();
                        } else {
                            // token contains id, last4, and card type
                            var token = response['id'];

                            // insert the stripe token
                            var input = jQuery("<input name='stripeToken' value='" + token + "' style='display:none;' />");
                            form.appendChild(input[0])

                            // and submit
                            form.submit();
                        }
                    });
                    
                    return false;
                }
                
                // add custom rules for credit card validating
                jQuery.validator.addMethod("cardNumber", Stripe.validateCardNumber, "Please enter a valid card number");
                jQuery.validator.addMethod("cardCVC", Stripe.validateCVC, "Please enter a valid security code");
                jQuery.validator.addMethod("cardExpiry", function() {
                    return Stripe.validateExpiry(jQuery(".card-expiry-month").val(), 
                                                 jQuery(".card-expiry-year").val())
                }, "Please enter a valid expiration");

                // We use the jQuery validate plugin to validate required params on submit
                jQuery("#example-form").validate({
                    submitHandler: submit,
                    rules: {
                        "card-cvc" : {
                            cardCVC: true,
                            required: true
                        },
                        "card-number" : {
                            cardNumber: true,
                            required: true
                        },
                        "card-expiry-year" : "cardExpiry" // we don't validate month separately
                    }
                });

                // adding the input field names is the last step, in case an earlier step errors                
                addInputNames();
            });
});

</script>
<form id="gform_1" method="post">
<div class="bf-wrap row">
  <div class="bf-panel col-md-8">
   <div class="bf-bg">
    <div class="bf-section-row bf-top-section row">
	    <div class="col-md-12">
	      <p class="bf-top">Complete your booking</p>
	      <p class="bf-body">Great! We have availability at this time. A few more details and we can complete your booking.</p>
	    </div>
	</div>

    <div class="bf-section-row row">
	    <div class="col-md-12">
	       <div class="bf-title">Address</div>
		   <div class="row">
		     <div class="col-md-6">
			   <label class="bf-input-label">City</label>
               <select name="input_1" class="form-control bf-frm-inp bf-sync"> 
<option value="Arlington">Arlington</option>
<option value="Boston">Boston</option>
<option value="Belmont">Belmont</option>
<option value="Brookline">Brookline</option>
<option value="Burlington">Burlington</option>
<option value="Cambridge">Cambridge</option>
<option value="Chelsea">Chelsea</option>
<option value="Medford">Medford</option>
<option value="Malden">Malden</option>
<option value="Everett">Everett</option>
<option value="Lexington">Lexington</option>
<option value="Lincoln">Lincoln</option>
<option value="Melrose">Melrose</option>
<option value="Newton">Newton</option>
<option value="Revere">Revere</option>
<option value="Somerville">Somerville</option>
<option value="Saugus">Saugus</option>
<option value="Sudbury">Sudbury</option>
<option value="Watertown">Watertown</option>
<option value="Waltham">Waltham</option>
<option value="Wellesley">Wellesley</option>
<option value="Winchester">Winchester</option>
<option value="Winthrop">Winthrop</option>
			   </select>
		     </div>
		   </div>
	    </div>
    </div>
    <div class="bf-section-row row">		
	    <div class="col-md-12">
	       <div class="bf-title">Your place</div>
		   <div class="row">
		     <div class="col-md-6">
			   <label class="bf-input-label">Bedrooms</label>
			   <div class="bf-plus-minus">
                 <span class="bf-plus-trigger bf-label" for="i2" data-price="15" data-m="false">+</span>
                 <input class="bf-trigger-input bf-input form-control"  data-ftype="bedrooms" name="input_2" type="text" value="1" id="i2">
                 <span class="bf-plus-trigger bf-label" for="i2" data-price="-15" data-m="true">-</span>
		       </div>
		     </div>
		     <div class="col-md-6">
			   <label class="bf-input-label">Bathrooms</label>
			   <div class="bf-plus-minus">
                 <span class="bf-plus-trigger bf-label" for="i3" data-price="15" data-m="false">+</span>
                 <input class="bf-trigger-input bf-input form-control"  data-ftype="bathrooms" name="input_3" type="text" value="1" id="i3">
                 <span class="bf-plus-trigger bf-label" for="i3" data-price="-15" data-m="true">-</span>
		       </div>
		     </div>
		   </div>
	    </div>
	</div>
    <div class="bf-section-row row">		
	    <div class="col-md-12">
	       <div class="bf-title">When?</div>
		   <div class="row">
		     <div class="col-md-6">
	           <label class="bf-input-label">Date</label>
               <input type="text"  name="input_4" class="form-control bf-frm-inp bf-date">
		     </div>
		     <div class="col-md-6">
			   <label class="bf-input-label">Time</label>
			   <select class="form-control bf-frm-inp"  name="input_5">
			     <option value="07:00">7:00 AM</option>
                 <option value="07:30">7:30 AM</option>
<option value="08:00">8:00 AM</option>
<option value="08:30">8:30 AM</option>
<option value="09:00">9:00 AM</option>
<option value="09:30">9:30 AM</option>
<option value="10:00">10:00 AM</option>
<option value="10:30">10:30 AM</option>
<option value="11:00">11:00 AM</option>
<option value="11:30">11:30 AM</option>
<option value="12:00">12:00 PM</option>
<option value="12:30">12:30 PM</option>
<option value="13:00">1:00 PM</option>
<option value="13:30">1:30 PM</option>
<option value="14:00">2:00 PM</option>
<option value="14:30">2:30 PM</option>
<option value="15:00">3:00 PM</option>
<option value="15:30">3:30 PM</option>
<option value="16:00">4:00 PM</option>
<option value="16:30">4:30 PM</option>
<option value="17:00">5:00 PM</option>
<option value="17:30">5:30 PM</option>
<option value="18:00">6:00 PM</option>
<option value="18:30">6:30 PM</option>
<option value="19:00">7:00 PM</option>
<option value="19:30">7:30 PM</option>
<option value="20:00">8:00 PM</option>
<option value="20:30">8:30 PM</option>
<option value="21:00">9:00 PM</option>
  </select>
 		     </div>
		   </div>
	    </div>
	</div>
    <div class="bf-section-row row">		
	    <div class="col-md-12">
	       <div class="bf-title">How often?</div>
		   <div class="row">
		     <div class="col-md-4">
	           <input name="input_6" type="radio" value="Each week" style="display: none" id="q1">
	           <label for="q1" class="bf-button bf-white bf-radio-triger" data-name="q1" data-price="-5" data-active="false">Each week</label>
		     </div>
		     <div class="col-md-4">
	           <input name="input_6" type="radio" value="Each 2 week" style="display: none" id="q2">
	           <label for="q2" class="bf-button bf-white bf-radio-triger bf-active" data-name="q2" data-price="0" data-active="true">Each 2 week</label>
		     </div>
		     <div class="col-md-4">
	           <input name="input_6" type="radio" value="Each 4 week" style="display: none" id="q3">
	           <label for="q3" class="bf-button bf-white bf-radio-triger" data-name="q3" data-price="10" data-active="false">Each 4 week</label>
		     </div>
		   </div>
	    </div>
	</div>
    <div class="bf-section-row row bf-section-address">
	    <div class="col-md-12">
	       <div class="bf-title">Address</div>
		   <div class="row">
		     <div class="col-md-6">
			   <label class="bf-input-label">First Name</label>
			   <input name="input_7" type="text" class="form-control bf-frm-inp">               
		     </div>
		     <div class="col-md-6">
			   <label class="bf-input-label">Last Name</label>
			   <input name="input_8" type="text" class="form-control bf-frm-inp">               
		     </div>
		   </div>
		   <div class="row">
		     <div class="col-md-6">
			   <label class="bf-input-label">Street Address</label>
			   <input name="input_9" type="text" class="form-control bf-frm-inp">               
		     </div>
		     <div class="col-md-6">
			   <label class="bf-input-label">Apt # (optional)</label>
			   <input name="input_10" type="text" class="form-control bf-frm-inp">               
		     </div>
		   </div>
		   <div class="row">
		     <div class="col-md-6">
			   <label class="bf-input-label">City</label>
               <select  name="input_11" class="form-control bf-frm-inp bf-sync"> 
<option value="Arlington">Arlington</option>
<option value="Boston">Boston</option>
<option value="Belmont">Belmont</option>
<option value="Brookline">Brookline</option>
<option value="Burlington">Burlington</option>
<option value="Cambridge">Cambridge</option>
<option value="Chelsea">Chelsea</option>
<option value="Medford">Medford</option>
<option value="Malden">Malden</option>
<option value="Everett">Everett</option>
<option value="Lexington">Lexington</option>
<option value="Lincoln">Lincoln</option>
<option value="Melrose">Melrose</option>
<option value="Newton">Newton</option>
<option value="Revere">Revere</option>
<option value="Somerville">Somerville</option>
<option value="Saugus">Saugus</option>
<option value="Sudbury">Sudbury</option>
<option value="Watertown">Watertown</option>
<option value="Waltham">Waltham</option>
<option value="Wellesley">Wellesley</option>
<option value="Winchester">Winchester</option>
<option value="Winthrop">Winthrop</option>
			   </select>
		     </div>
		     <div class="col-md-6">
			   <label class="bf-input-label">Phone Number</label>
			   <input  name="input_12" type="text" class="form-control bf-frm-inp">               
		     </div>
		   </div>
	    </div>
    </div>
    <div class="bf-section-row row">		
	    <div class="col-md-12">
	       <div class="bf-title">Extras</div>
		   <div class="row">
		     <div class="col-md-3">
	           <input id="w1" name="input_14.1" type="checkbox" value="Inside the Fridge and Freezer" style="display: none">
	           <label for="w1" class="bf-button bf-extra bf-button-triger" data-price="25" data-active="false" data-text="Inside the Fridge and Freezer" data-name="n1">
			     <div class="bf-extra-icon mbm_icon_fridge"></div>
                 <div class="bf-extra-label">Inside the Fridge and Freezer</div>
			   </label>
		     </div>
		     <div class="col-md-3">
	           <input id="w2" name="input_14.2" type="checkbox" value="Inside Oven" style="display: none">
	           <label for="w2" class="bf-button bf-extra bf-button-triger" data-price="25" data-active="false" data-text="Inside Oven" data-name="n2">
   			     <div class="bf-extra-icon mbm_icon_oven"></div>
                 <div class="bf-extra-label ">Inside Oven</div>
			   </label>
		     </div>
		     <div class="col-md-3">
	           <input id="w3" name="input_14.3" type="checkbox" value="Move In / Move Out Cleaning" style="display: none">
	           <label for="w3" class="bf-button bf-extra bf-button-triger" data-price="25" data-active="false" data-text="Move In / Move Out Cleaning" data-name="n3">			     
			     <div class="bf-extra-icon mbm_icon_laundrymachine"></div>
                 <div class="bf-extra-label">Move In / Move Out Cleaning</div>
               </label>
		     </div>
		     <div class="col-md-3">
	           <input id="w4" name="input_14.4" type="checkbox" value="Windows" style="display: none">
	           <label for="w4" class="bf-button bf-extra bf-button-triger" data-price="25" data-active="false" data-text="Windows" data-name="n4">
			     <div class="bf-extra-icon mbm_icon_window"></div>
                 <div class="bf-extra-label ">Windows</div>
			   </label>
		     </div>
		   </div>
	    </div>
	</div>
    <div class="bf-section-row row">
	    <div class="col-md-12">
	       <div class="bf-title">Credit card information</div>
		   <div class="row">
		     <div class="col-md-6">
			 <div class="form-row">
                <label for="name" class="stripeLabel">Your Name</label>
                <input type="text" name="name" class="required" />
               </div>            
    
            <div class="form-row">
                <label for="email">E-mail Address</label>
                <input type="text" name="email" class="required" />
            </div>            
    
            <div class="form-row">
                <label>Card Number</label>
                <input type="text" maxlength="20" autocomplete="off" class="card-number stripe-sensitive required" />
            </div>
			 </div>
		     <div class="col-md-6">
			   
            
            <div class="form-row">
                <label>CVC</label>
                <input type="text" maxlength="4" autocomplete="off" class="card-cvc stripe-sensitive required" />
            </div>
            
            <div class="form-row">
                <label>Expiration</label>
                <div class="expiry-wrapper">
                    <select class="card-expiry-month stripe-sensitive required">
                    </select>
                    <script type="text/javascript">
                        var select = jQuery(".card-expiry-month"),
                            month = new Date().getMonth() + 1;
                        for (var i = 1; i <= 12; i++) {
                            select.append(jQuery("<option value='"+i+"' "+(month === i ? "selected" : "")+">"+i+"</option>"))
                        }
                    </script>
                    <span> / </span>
                    <select class="card-expiry-year stripe-sensitive required"></select>
                    <script type="text/javascript">
                        var select = jQuery(".card-expiry-year"),
                            year = new Date().getFullYear();

                        for (var i = 0; i < 12; i++) {
                            select.append(jQuery("<option value='"+(i + year)+"' "+(i === 0 ? "selected" : "")+">"+(i + year)+"</option>"))
                        }
                    </script>
                </div>
            </div>

            
            <span class="payment-errors"></span>
 		     </div>
		   </div>
	    </div>
	</div>
    <div class="bf-section-row row bf-last-row">
	    <div class="col-md-12">
	       <div class="bf-title">Additional services</div>
		   <div class="row">
		     <div class="col-md-12">
			   <textarea class="bf-texta" NAME="input_13"></textarea>
 		     </div>
		   </div>
	    </div>
	</div>
    <div class="bf-section-row row bf-last-row">
	    <div class="col-md-12">
           <button  class="bf-submit" type="submit" id="gform_submit_button_1" name="submit-button">Submit</button>
	    </div>
	</div>
  </div>
	
  </div>
  <div class="bf-panel col-md-4 bf-scroll">
    <div class="bf-bg">
    <div class="bf-section-row row">
      <div class="row">		
	    <div class="col-md-2"><span class="glyphicon glyphicon-home bf-icon"></span></div>
	    <div class="col-md-10"><span class="bf-price-top">Home Cleaning</span></div>
	  </div>
	  <div class="row">		
	    <div class="col-md-2"></div>
	    <div class="col-md-10"><div class="bf-list"></div></div>
	  </div>
	</div>
    <div class="bf-section-row row">
	  <div class="row">		
	    <div class="col-md-6"><span class="bf-pr">Total price: </span></div>
	    <div class="col-md-6 bf-total-price2" style="text-align: right; padding-right: 30px;"><span class="bf-total-price">65</span><span class="bf-total-dollar">$</span></div>
	  </div>
    </div>
	

  </div>
  </div>
</div>
<input type="hidden" class="gform_hidden" name="is_submit_2" value="1">
            <input type="hidden" class="gform_hidden" name="gform_submit" value="2">
            
            <input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
            <input type="hidden" class="gform_hidden" name="state_2" value="WyJbXSIsImM1MWQzMTExOTBiOGZhYTNmZTk5YmRiMmM3ZjYyOGFjIl0=">
            <input type="hidden" class="gform_hidden" name="gform_target_page_number_2" id="gform_target_page_number_2" value="0">
            <input type="hidden" class="gform_hidden" name="gform_source_page_number_2" id="gform_source_page_number_2" value="1">
            <input type="hidden" name="gform_field_values" value="">
</form>