<script>
jQuery(function(){
	jQuery('.bf-radio-triger').click(function(e){
  	  var totalPrice = Number(jQuery('.bf-total-price').text());
	  
	  var old_active = jQuery('.bf-radio-triger[data-active="true"]');
	  jQuery(old_active).attr('data-active',false).removeClass('bf-active');
	  
	  var old_price = Number(jQuery(old_active).attr('data-price'));
	  totalPrice -= old_price;
	  
	  var price = Number(jQuery(this).attr('data-price'));
	  
	  totalPrice += price;
	  
	  jQuery(this).attr('data-active',true).addClass('bf-active');
	  
	  jQuery('.bf-total-price').text(totalPrice);

	});
	jQuery('.bf-button-triger').click(function(e){
	  //e.preventDefault();
	  var btnName = jQuery(this).attr('data-name') || alert('Button havent NAME!');
	  var price = Number(jQuery(this).attr('data-price'));
	  var text = jQuery(this).attr('data-text') || undefined;
	  var isActive = jQuery(this).attr('data-active') || 'false';

  	  var totalPrice = Number(jQuery('.bf-total-price').text());
	  
	  if(isActive === 'true'){
	    jQuery(this).attr('data-active','false').removeClass('bf-active');
		totalPrice -=price;
		jQuery('.list-element-'+btnName).detach();
		//jQuery(this).find('input[type="checkbox"]').prop('checked',false);
	  }else{
	    jQuery(this).attr('data-active','true').addClass('bf-active');
		totalPrice +=price;
		!text || jQuery('.bf-list').append('<div class="list-element list-element-'+btnName+'">'+text+'</div>');
		//jQuery(this).find('input[type="checkbox"]').prop('checked',true);
	  }
	  
	  jQuery('.bf-total-price').text(totalPrice);
	  
	});
	
	jQuery('.bf-trigger-input').focus(function(e){
	  jQuery(this).blur();
	});
	jQuery('.bf-plus-trigger').click(function(e){
	  var input_id = jQuery(this).attr('for');
	  var price = Number(jQuery(this).attr('data-price'));
	  var input = jQuery('#'+input_id);
	  	  
	  var minus = jQuery(this).attr('data-m');
	  var count = Number(input.val());
	  if(minus=="true"){
	    if(count!=0){
	      count--;
		}else{
		  return;
		}
	  }else{
	    count++;
	  }
	  input.val(count);
 	  
	  var totalPrice = Number(jQuery('.bf-total-price').text());
	  totalPrice+=price;	  
	  jQuery('.bf-total-price').text(totalPrice);

	});
	
	jQuery( ".bf-date" ).datepicker();
	
	jQuery('.bf-sync').on('change',function(){
	  jQuery(".bf-sync").prop('selectedIndex', this.selectedIndex);  
	});
	
	var pold = jQuery('.bf-scroll').offset().top;
	jQuery(window).scroll(function(){
	  if(jQuery(window).width() > 976){
	    var s = jQuery(window).scrollTop();
	    var pos = jQuery('.bf-scroll').offset().top;
	    if(s-10 > pold){
	      jQuery('.bf-scroll').css('margin-top',s-pold-10);
		}else{
		  jQuery('.bf-scroll').css('margin-top','');
		}
	  }
	});
	
});

</script>

<div class="bf-wrap row">
  <div class="bf-panel col-md-8">
   <div class="bf-bg">
    <div class="bf-section-row bf-top-section row">
	    <div class="col-md-12">
	      <p class="bf-top">Complete your booking</p>
	      <p class="bf-body">Great! We have availability at this time. A few more details and we can complete your booking.</p>
	    </div>
	</div>

    <div class="bf-section-row row">
	    <div class="col-md-12">
	       <div class="bf-title">Address</div>
		   <div class="row">
		     <div class="col-md-6">
			   <label class="bf-input-label">City</label>
               <select class="form-control bf-frm-inp bf-sync"> 
<option value="Arlington">Arlington</option>
<option value="Boston">Boston</option>
<option value="Belmont">Belmont</option>
<option value="Brookline">Brookline</option>
<option value="Burlington">Burlington</option>
<option value="Cambridge">Cambridge</option>
<option value="Chelsea">Chelsea</option>
<option value="Medford">Medford</option>
<option value="Malden">Malden</option>
<option value="Everett">Everett</option>
<option value="Lexington">Lexington</option>
<option value="Lincoln">Lincoln</option>
<option value="Melrose">Melrose</option>
<option value="Newton">Newton</option>
<option value="Revere">Revere</option>
<option value="Somerville">Somerville</option>
<option value="Saugus">Saugus</option>
<option value="Sudbury">Sudbury</option>
<option value="Watertown">Watertown</option>
<option value="Waltham">Waltham</option>
<option value="Wellesley">Wellesley</option>
<option value="Winchester">Winchester</option>
<option value="Winthrop">Winthrop</option>
			   </select>
		     </div>
		   </div>
	    </div>
    </div>
    <div class="bf-section-row row">		
	    <div class="col-md-12">
	       <div class="bf-title">Your place</div>
		   <div class="row">
		     <div class="col-md-6">
			   <label class="bf-input-label">Bedrooms</label>
			   <div class="bf-plus-minus">
                 <span class="bf-plus-trigger bf-label" for="i2" data-price="15" data-m="false">+</span>
                 <input class="bf-trigger-input bf-input form-control" name="input_3" type="text" value="2" id="i2">
                 <span class="bf-plus-trigger bf-label" for="i2" data-price="-15" data-m="true">-</span>
		       </div>
		     </div>
		     <div class="col-md-6">
			   <label class="bf-input-label">Bathrooms</label>
			   <div class="bf-plus-minus">
                 <span class="bf-plus-trigger bf-label" for="i3" data-price="15" data-m="false">+</span>
                 <input class="bf-trigger-input bf-input form-control" name="input_3" type="text" value="2" id="i3">
                 <span class="bf-plus-trigger bf-label" for="i3" data-price="-15" data-m="true">-</span>
		       </div>
		     </div>
		   </div>
	    </div>
	</div>
    <div class="bf-section-row row">		
	    <div class="col-md-12">
	       <div class="bf-title">When?</div>
		   <div class="row">
		     <div class="col-md-6">
	           <label class="bf-input-label">Date</label>
               <input type="text" class="form-control bf-frm-inp bf-date">
		     </div>
		     <div class="col-md-6">
			   <label class="bf-input-label">Time</label>
			   <select class="form-control bf-frm-inp">
			     <option value="07:00">7:00 AM</option>
                 <option value="07:30">7:30 AM</option>
<option value="08:00">8:00 AM</option>
<option value="08:30">8:30 AM</option>
<option value="09:00">9:00 AM</option>
<option value="09:30">9:30 AM</option>
<option value="10:00">10:00 AM</option>
<option value="10:30">10:30 AM</option>
<option value="11:00">11:00 AM</option>
<option value="11:30">11:30 AM</option>
<option value="12:00">12:00 PM</option>
<option value="12:30">12:30 PM</option>
<option value="13:00">1:00 PM</option>
<option value="13:30">1:30 PM</option>
<option value="14:00">2:00 PM</option>
<option value="14:30">2:30 PM</option>
<option value="15:00">3:00 PM</option>
<option value="15:30">3:30 PM</option>
<option value="16:00">4:00 PM</option>
<option value="16:30">4:30 PM</option>
<option value="17:00">5:00 PM</option>
<option value="17:30">5:30 PM</option>
<option value="18:00">6:00 PM</option>
<option value="18:30">6:30 PM</option>
<option value="19:00">7:00 PM</option>
<option value="19:30">7:30 PM</option>
<option value="20:00">8:00 PM</option>
<option value="20:30">8:30 PM</option>
<option value="21:00">9:00 PM</option>
  </select>
 		     </div>
		   </div>
	    </div>
	</div>
    <div class="bf-section-row row">		
	    <div class="col-md-12">
	       <div class="bf-title">How often?</div>
		   <div class="row">
		     <div class="col-md-4">
	           <input name="input_2" type="radio" value="Radio1" style="display: none" id="q1">
	           <label for="q1" class="bf-button bf-white bf-radio-triger bf-active" data-name="q1" data-price="-15" data-active="true">Each week</label>
		     </div>
		     <div class="col-md-4">
	           <input name="input_2" type="radio" value="Radio1" style="display: none" id="q2">
	           <label for="q2" class="bf-button bf-white bf-radio-triger" data-name="q2" data-price="-25" data-active="false">Each 2 week</label>
		     </div>
		     <div class="col-md-4">
	           <input name="input_2" type="radio" value="Radio1" style="display: none" id="q3">
	           <label for="q3" class="bf-button bf-white bf-radio-triger" data-name="q3" data-price="-45" data-active="false">Each 3 week</label>
		     </div>
		   </div>
	    </div>
	</div>
    <div class="bf-section-row row bf-section-address">
	    <div class="col-md-12">
	       <div class="bf-title">Address</div>
		   <div class="row">
		     <div class="col-md-6">
			   <label class="bf-input-label">First Name</label>
			   <input type="text" class="form-control bf-frm-inp">               
		     </div>
		     <div class="col-md-6">
			   <label class="bf-input-label">Last Name</label>
			   <input type="text" class="form-control bf-frm-inp">               
		     </div>
		   </div>
		   <div class="row">
		     <div class="col-md-6">
			   <label class="bf-input-label">Street Address</label>
			   <input type="text" class="form-control bf-frm-inp">               
		     </div>
		     <div class="col-md-6">
			   <label class="bf-input-label">Apt # (optional)</label>
			   <input type="text" class="form-control bf-frm-inp">               
		     </div>
		   </div>
		   <div class="row">
		     <div class="col-md-6">
			   <label class="bf-input-label">City</label>
               <select class="form-control bf-frm-inp bf-sync"> 
<option value="Arlington">Arlington</option>
<option value="Boston">Boston</option>
<option value="Belmont">Belmont</option>
<option value="Brookline">Brookline</option>
<option value="Burlington">Burlington</option>
<option value="Cambridge">Cambridge</option>
<option value="Chelsea">Chelsea</option>
<option value="Medford">Medford</option>
<option value="Malden">Malden</option>
<option value="Everett">Everett</option>
<option value="Lexington">Lexington</option>
<option value="Lincoln">Lincoln</option>
<option value="Melrose">Melrose</option>
<option value="Newton">Newton</option>
<option value="Revere">Revere</option>
<option value="Somerville">Somerville</option>
<option value="Saugus">Saugus</option>
<option value="Sudbury">Sudbury</option>
<option value="Watertown">Watertown</option>
<option value="Waltham">Waltham</option>
<option value="Wellesley">Wellesley</option>
<option value="Winchester">Winchester</option>
<option value="Winthrop">Winthrop</option>
			   </select>
		     </div>
		     <div class="col-md-6">
			   <label class="bf-input-label">Phone Number</label>
			   <input type="text" class="form-control bf-frm-inp">               
		     </div>
		   </div>
	    </div>
    </div>
    <div class="bf-section-row row">		
	    <div class="col-md-12">
	       <div class="bf-title">Extras</div>
		   <div class="row">
		     <div class="col-md-3">
	           <input id="w1" name="input_1.1" type="checkbox" value="first checkbox" style="display: none">
	           <label for="w1" class="bf-button bf-extra bf-button-triger" data-price="21" data-active="false" data-text="Clean twice" data-name="n1">
			     <div class="bf-extra-icon"></div>
                 <div class="bf-extra-label">Some text</div>
			   </label>
		     </div>
		     <div class="col-md-3">
	           <input id="w1" name="input_1.1" type="checkbox" value="first checkbox" style="display: none">
	           <label for="w1" class="bf-button bf-extra bf-button-triger" data-price="32" data-active="false" data-text="Clean twice" data-name="n2">
   			     <div class="bf-extra-icon"></div>
                 <div class="bf-extra-label">Some text</div>
			   </label>
		     </div>
		     <div class="col-md-3">
	           <input id="w1" name="input_1.1" type="checkbox" value="first checkbox" style="display: none">
	           <label for="w1" class="bf-button bf-extra bf-button-triger" data-price="43" data-active="false" data-text="Clean twice" data-name="n3">			     
			     <div class="bf-extra-icon"></div>
                 <div class="bf-extra-label">Some text</div>
               </label>
		     </div>
		     <div class="col-md-3">
	           <input id="w1" name="input_1.1" type="checkbox" value="first checkbox" style="display: none">
	           <label for="w1" class="bf-button bf-extra bf-button-triger" data-price="54" data-active="false" data-text="Clean twice" data-name="n4">
			     <div class="bf-extra-icon"></div>
                 <div class="bf-extra-label">Some text</div>
			   </label>
		     </div>
		   </div>
	    </div>
	</div>
    <div class="bf-section-row row">		
	    <div class="col-md-12">
	       <div class="bf-title">Additional services</div>
		   <div class="row">
		     <div class="col-md-12">
			   <textarea class="bf-texta"></textarea>
 		     </div>
		   </div>
	    </div>
	</div>
    <div class="bf-section-row row">		
	    <div class="col-md-12">
           <input class="bf-submit" type="submit" value="Submit">
	    </div>
	</div>
  </div>
	
	
    
<!--	<div class="bf-section">
	  <div class="bf-address-row">
	    <div class="bf-title">Address</div>
		<div class="bf-col-6">
		</div>
		<div class="bf-col-6">
		  <label >Zip code</label>
		  <input type="text" placeholder="ZIP Code">
		</div>
	  </div>
	</div>

	
    <form method="post" enctype="multipart/form-data" action="/wordpress/handy-form/">
	

      
	  
	  <div class="">
	    
	    <input name="input_2" type="radio" value="Radio2" style="display: " id="q2" checked="true">
	    <label for="q2" class="bf-button bf-white bf-radio-triger" data-name="q2" data-price="-45" data-active="true">Each 2 week</label>
	  </div>
	  
	  <div class="">
	    
	  </div>
	  <input type="submit" value="Submit">
	              <input type="hidden" class="gform_hidden" name="is_submit_1" value="1">
            <input type="hidden" class="gform_hidden" name="gform_submit" value="1">
            
            <input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
            <input type="hidden" class="gform_hidden" name="state_1" value="WyJbXSIsIjI5NDY3YWNkYzljNDUyMjY1ODJlNDMzYzliYzZjYzgyIl0=">
            <input type="hidden" class="gform_hidden" name="gform_target_page_number_1" id="gform_target_page_number_1" value="0">
            <input type="hidden" class="gform_hidden" name="gform_source_page_number_1" id="gform_source_page_number_1" value="1">
            <input type="hidden" name="gform_field_values" value="">

    </form>-->
  </div>
  <div class="bf-panel col-md-4 bf-scroll">
    <div class="bf-bg">
    <div class="bf-section-row row">
      <div class="row">		
	    <div class="col-md-2"><span class="glyphicon glyphicon-home bf-icon"></span></div>
	    <div class="col-md-10"><span class="bf-price-top">Home Cleaning</span></div>
	  </div>
	  <div class="row">		
	    <div class="col-md-2"></div>
	    <div class="col-md-10"><div class="bf-list"></div></div>
	  </div>
	</div>
    <div class="bf-section-row row">
	  <div class="row">		
	    <div class="col-md-7"><span class="bf-pr">Total price: </span></div>
	    <div class="col-md-5 bf-total-price2" style="text-align: right; padding-right: 30px;"><span class="bf-total-price">95</span><span class="bf-total-dollar">$</span></div>
	  </div>
    </div>
	

  </div>
  </div>
</div>